.adiv {
  background: #04cb28;
  border-radius: 15px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  /* font-size: 12px; */
  height: 46px;
}

.chat {
  padding: 5px 15px 5px 15px;
  border: none;

  /* font-size: 10px; */
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  border-radius: 20px;
}

.chetBubble {
  padding: 5px 15px 5px 15px;
  border: 1px solid #e7e7e9;
  background: #e2ffe8;
  /* font-size: 10px; */
  border-radius: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.myvideo img {
  border-radius: 20px;
}

.dot {
  font-weight: bold;
}

.form-control {
  border-radius: 12px;
  border: 1px solid #f0f0f0;
  /* font-size: 8px; */
}

.form-control:focus {
  box-shadow: none;
}

.form-control::placeholder {
  /* font-size: 8px; */
  color: #c4c4c4;
}
.scrollBox {
  height: 82vh;
  overflow-y: scroll;
}
.circleDiv {
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  border-radius: 50%;
  font-family: serif;
  font-size: 25px;
  font-weight: 700;
  background: darkgray;
  color: white;
}
.chetCard {
  border-radius: 20px 20px 0px 0px !important;
  position: absolute !important;
  right: 0px;
  /* top: 0px; */
  /* margin-top: -101vh; */
  height: 100vh;
  width: 300px;
}
@media (max-width: 768px) {
  .chetCard {
    width: 100% !important;
    position: relative !important;
    /* margin-top: auto !important; */
  }
}
